.dashboard-wrapper {
  width: 100%;
  height: 600px;
  overflow: hidden; 
  position: relative;
}

/* Main content layout */
.dashboard-content {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  height: 100%;
  padding-right: 10px;
}

/* Text section */
.text-section {
  flex: 1;
  z-index: 1;
  margin-left:40px;
}

.text-section h2 {
  font-size: 70px;
  font-weight: 800;
}

.text-section span {
  color: #f5b301;
}

.text-section p {
  margin: 18px 0 28px 0;
  color: #000000; 
  font-size: 24px;
}

/* Button */
.manage-btn {
  background: #f5b301;
  border: none;
  padding: 12px 26px;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.manage-btn:hover {
  background: #d89f04;
}

.image-section {
  flex: 1;
  margin: 0;
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  height: 100%;                 
}

@media (max-width: 900px) {
  .dashboard-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-section {
    width: 100%;
    height: 300px; 
  }
}
